@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* geral */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

/* cabeçalho */

header{
    text-align: center;
    background-color: #FF6969;
    color: white;
    padding: 15px;
}

header > a{
    color: white;
    display: block;
    width: fit-content;
    padding: 8px;
    margin: 5px auto;
    border: 1px solid white;
    border-radius: 10px;
    transition: 500ms;
}

header > a:hover{
    background-color: white;
    color: black;
}

body{
    background-color: #f7efdf;
}

/* cabeçalho do artigo */ 


article{
    margin: auto;
    width: 80vw;
}

.capa-artigo{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.info-artigo{
    font-size: 0.9em;
    margin: 10px 0;
}

.titulo-artigo{
    font-size: 2em;
    margin: 15px 0 ;
}

img{
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

/* artigo */

.conteudo{
    margin: auto;
    width: 60vw;
}

.conteudo h2{
    margin: 25px 0 15px 0; 
}

.conteudo p:not(.legenda){
    margin: 10px 0;
    font-size: 1.1em;
}

.legenda{
    margin-bottom: 5px;
    font-size: 0.9em;
    color: rgb(75, 72, 72);
}


/* footer */

footer{
    margin-top: 25px;
}

footer > p{
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
}

@media screen and (max-width: 760px) {
    .conteudo{
        width: 90vw;
    }

    .conteudo p{
        font-size: 1em;
    }
    
    article{
        width: 100vw;
    }

    .container-info{
        padding: 10px;
    }
}